.row {
  display: flex;
  flex-direction: row;
  width: 100%;

  .card {
    &:nth-child(2) {
      border-left: none;
    }
    &:last-child {
      border-right: 1px solid #c5c7d0;
    }
    &:nth-child(8) {
      border-right: none;
    }
  }
}

.row:last-child {
  .user-details {
    border-bottom: none;
    border-left: none;
  }
  .card {
    &:nth-child(8) {
      border-bottom: none;
    }
  }
}

.day {
  width: 120px;
  height: 72px;
  background-color: #ccc;
  border: 1px solid black;
}
