.board-details {
  width: 236px;
  height: 128px;
  border: 1px solid #c5c7d0;
  border-top: none;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  gap: 8px;

}

h2 {
  margin-top: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.5px;
  text-transform: capitalize;
  color: #323338;
  // padding-top: 16px;
  text-overflow: ellipsis;
    width: 200px;
    height: 26px;
    overflow:hidden;
}

p {
  font-size: 14px;
  line-height: 22px;
}

.total-members {
  color: #676879;
}

.total-missing-logs {
  color: #d83a52;
}

.valid-member {
  color: #258750;
}
