.user-details {
  width: 236px;
  height: 114px;
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid #c5c7d0;
  padding-left: 24px;
}
.user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #c5c7d0;
  border: 1px solid #e6e9ef;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.5px;
}

.user-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #323338;
}
