.reminder-modal {
  display: flex;
  flex-direction: column;
  padding: 4px;
  gap: 14px;
  width: 558px;
  height: 298px;
  background-color: #fff;
  position: absolute;
  top: 64px;
  right: 20px;
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  z-index: 2;
}

.close-modal {
  position: absolute;
  top: 18px;
  right: 17px;
}

.checked-modal-icon {
  cursor: default;
}
